* {
    margin: 0;
    padding: 0;
    --logo-size: 3.5rem;
    --nav-height: 2.5rem;
}

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: white;
}

body{
    background-color: #202020;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
    background-color: #202020;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: background-color 0.5s ease-in-out;
}

.nav-container:hover{
    background-color: #272727;
}

.nav-container > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.nav-logo {
    height: var(--logo-size);
    width: calc(--logo-size * 0.6);
}

.nav-container > ul > li {
    list-style: none;
    margin: 0 0.5rem;
}

.nav-link {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.content-container {
    margin: 4rem 0 0 3rem;
}

.pop-container {
    margin-top: -1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
}

span.pop-text {
    display: inline-block;
    margin: 0 -0.6rem;
}

span.pop-text.pop-text-active {
    animation: wave 1s linear;
}

.logo {
    height: var(--logo-size);
    width: calc(--logo-size * 0.6);
}

.gray-text {
    color: #9a9a9a;
    font-weight: 300;
}

.orange-gradient-text {
    font-weight: 900;
    background: linear-gradient(270deg, rgba(242,142,38,1) 20%, rgba(253,100,79,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-text {
    font-weight: 200;
}

.half-width {
    width: 50%;
}

.third-width {
    width: calc(100% / 3);
}

p.contact-desc {
    font-size: .8rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

a.link {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a.link.support {
    font-weight: 200;
}

a.link:hover {
    color: #f2a238;
}

a.button {
    display: inline-block;
    background-color: #202020;
    color: white;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: solid white 1px;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

a.button:hover{
    background-color: white;
    color:#202020;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
}

input, textarea, button {
    resize: none;
    border: none;
    display: inline-block;
    background-color: #2e2e2e;
    color: white;
    margin: 0.25rem 0;
    padding: 0.75rem 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-size: .8rem;
    font-weight: 300;
    text-decoration: none;
    cursor: text;
    transition: all 0.5s ease-in-out;
}

textarea {
    height: 5rem;
}

.form-button:hover{
    cursor: pointer;
    background-color: #daa867;
    color:white;
}

.error-message {
    color: #f2a238;
    font-size: .8rem;
    font-weight: 300;
    margin: 0.25rem 0;
}

@keyframes wave {
    0%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
    25%,45% {
        transform: rotateZ(20deg)
    }
    35% {
        transform: rotateZ(-20deg)
    }

    55% {
        transform: rotateZ(0deg)
    }
  }
  