a.button {
    background-color: rgb(var(--accent-color));
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(var(--secondary-color-dark), 1);
}

a.button:hover {
    color: white;
    background-color: rgb(var(--text-color));
    box-shadow: -2px -2px 2px rgba(var(--secondary-color), 1);
}
