.showreel-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.showreel-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(var(--background-color),0.5) 50%, rgba(var(--background-color),0.85) 100%);
    overflow: hidden;
    z-index: 2;
}

.showreel {
    position: relative;
    padding: 56.27198% 0 0 0;
    margin: 0;
    width: 100%;
}

.showreel iframe {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.showreel-foreground {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.showreel-foreground .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showreel-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.showreel-info,
.showreel-controls {
    color: white;
    text-shadow: 2px 2px 2px rgb(var(--secondary-color));
}

#showreel-text {
    font-size: 1.75rem;
    font-weight: 500;
    margin-left: 3rem;
    transition: all 0.25s ease-in-out;
}

#more-info {
    margin-top: 0.25rem;
    font-size: 1.75rem;
    opacity: 0;
    transform: translateX(-0.25rem);
    transition: all 0.25s ease-in-out;
}

#open-reel {
    margin-left: 3rem;
    border: none;
    border-radius: 0.25rem;
    background-color: rgba(var(--secondary-color-dark), 0.5);
    transition: all 0.25s ease-in-out;
}

#open-reel:hover,
#open-reel:focus {
    background-color: rgba(var(--secondary-color-dark), 0.3);
}

.showreel-info:hover > #more-info {
    opacity: 1;
    transform: translateX(0.25rem);
}

.showreel-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: var(--category-padding);
}

.showreel-controls > span {
    cursor: pointer;
    margin: 1rem;
    transition: all 0.25s ease-in-out;
}

.showreel-info:hover, 
.showreel-controls > span:hover {
    text-shadow: -2px -2px 10px rgb(var(--shadow-color));
}